<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert = "fragments::pageHeader">
<meta charset="ISO-8859-1">

<title>Add Vehicle details</title>

</head>

<body>

<div th:replace="fragments::menu"> </div>

<div class = "vh-100 container">
	<div class = "row">
		<div class = "col-md-8 offset-md-2">
			<div class = "card">
				<div class = "card-body" style = "background-color: aliceblue">
					<h3 class = "text-center text-success mb-2 p-3">Add Vehicle Details</h3>
					<form th:action="@{/saveVehicle}" th:object = "${vehicle}" method = "post" class = "form-needs-validation" novalidate>
						<div class = "form-group">
							<label for = "category">Category</label>
							<input class = "form-control" type = "text" th:field = "*{category}" id = "category" placeholder = "Add Category" required>
							<div class="alert alert-warning" th:if = "${#fields.hasErrors('category')}" th:errors = "*{category}"></div>
						</div>
						
						<div class = "form-group">
							<label for = "plateNumber">Plate Number</label>
							<input class = "form-control" type = "text" th:field = "*{plateNumber}" id = "plateNumber" placeholder = "Add Plate NUmber" required>
							<div class="alert alert-warning" th:if = "${#fields.hasErrors('plateNumber')}" th:errors = "*{plateNumber}"></div>
						</div>
						
						<div class = "form-group">
							<label for = "manufacturer">Manufacturer</label>
							<input class = "form-control" type = "text" th:field = "*{manufacturer}" id = "manufacturer" placeholder = "Add Manufacturer" required>
							<div class="alert alert-warning" th:if = "${#fields.hasErrors('manufacturer')}" th:errors = "*{manufacturer}"></div>
						</div>
						
						<div class = "form-group">
							<label for = "type">Type</label>
							<input class = "form-control" type = "text" th:field = "*{type}" id = "type" placeholder = "Add Type" required>
							<div class="alert alert-warning" th:if = "${#fields.hasErrors('type')}" th:errors = "*{type}"></div>
						</div>
						
						<div class = "form-group">
							<label for = "registrationDate">Registration Date</label>
							<input class = "form-control" type = "text" th:field = "*{registrationDate}" id = "registrationDate" placeholder = "yyyy/mm/dd" required>
							<div class="alert alert-warning" th:if = "${#fields.hasErrors('registrationDate')}" th:errors = "*{registrationDate}"></div>
						</div>
						
						<div class = "form-group">
							<label for = "premiumAmount">Premium Amount</label>
							<input class = "form-control" type = "text" th:field = "*{premiumAmount}" id = "premiumAmount" placeholder = "Add Premium Amount" required>
							<div class="alert alert-warning" th:if = "${#fields.hasErrors('premiumAmount')}" th:errors = "*{premiumAmount}"></div>
						</div>
						
						<div class = "form-group">
							<label for = "nextPreDate">Next Premium Date</label>
							<input class = "form-control" type = "text" th:field = "*{nextPreDate}" id = "nextPreDate" placeholder = "yyyy/mm/dd" required>
							<div class="alert alert-warning" th:if = "${#fields.hasErrors('nextPreDate')}" th:errors = "*{nextPreDate}"></div>
						</div>
						
						<div class = "form-group">
							<label for = "previousPreDate">Previous Premium Date</label>
							<input class = "form-control" type = "text" th:field = "*{previousPreDate}" id = "previousPreDate" placeholder = "yyyy/mm/dd" required>
							<div class="alert alert-warning" th:if = "${#fields.hasErrors('previousPreDate')}" th:errors = "*{previousPreDate}"></div>
						</div>
						
						<div class = "form-group">
							<label for = "pendingFines">Pending Fines</label>
							<input class = "form-control" type = "text" th:field = "*{pendingFines}" id = "pendingFines" placeholder = "Add Pending Fines" required>
							<div class="alert alert-warning" th:if = "${#fields.hasErrors('pendingFines')}" th:errors = "*{pendingFines}"></div>
						</div>
						
						
						<input type = "submit" class = "btn btn-warning mb-3" value = "Add Vehicle">
						<a th:href = "@{/getVehicles}" class = "btn btn-success btn-md mb-3 float-right">Vehicle List</a>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>

<div th:replace="fragments::pageFooter"></div>
</body>
</html>