<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert = "fragments::pageHeader">
<meta charset="ISO-8859-1">

<title>Add Vehicle details</title>

</head>

<body>

<div th:replace="fragments::menu"> </div>

<div class = "vh-100 container">
	<div class = "row">
		<div class = "col-md-8 offset-md-2">
			<div class = "card">
				<div class = "card-body" style = "background-color: aliceblue">
					<h3 class = "text-center text-success mb-2 p-3">Add Vehicle Details</h3>
					<form th:action="@{/user/userAccount}" th:object = "${vehicle}" method = "post" class = "form-needs-validation">
						
						<div class = "form-group">
							<label for = "plateNumber">Plate Number</label>
							<input class = "form-control" type = "text" th:field = "*{plateNumber}" id = "plateNumber" placeholder = "Add Plate NUmber">
							<div th:if = "${#fields.hasErrors('plateNumber')}" th:errors = "*{plateNumber}"></div>
						</div>
						
						<div class = "form-group">
							<label for = "category">Category</label>
							<input class = "form-control" type = "text" th:field = "*{category}" id = "category" placeholder = "Add Category">
							<div th:if = "${#fields.hasErrors('category')}" th:errors = "*{category}"></div>
						</div>
						
						<div class = "form-group">
							<label for = "registrationDate">Registration Date</label>
							<input class = "form-control" type = "text" th:field = "*{registrationDate}" id = "registrationDate" placeholder = "Add Registration Date">
							<div th:if = "${#fields.hasErrors('registrationDate')}" th:errors = "*{registrationDate}"></div>
						</div>
					
						<div class = "form-group">
							<label for = "nextPreDate">Next Premium Date</label>
							<input class = "form-control" type = "text" th:field = "*{nextPreDate}" id = "nextPreDate" placeholder = "Add Next Premium Date">
							<div th:if = "${#fields.hasErrors('nextPreDate')}" th:errors = "*{nextPreDate}"></div>
						</div>
						
						<div class = "form-group">
							<label for = "previousPreDate">Previous Premium Date</label>
							<input class = "form-control" type = "text" th:field = "*{previousPreDate}" id = "previousPreDate" placeholder = "Add Previous Premium Date">
							<div th:if = "${#fields.hasErrors('previousPreDate')}" th:errors = "*{previousPreDate}"></div>
						</div>
						
							
						<div class = "form-group">
							<label for = "premiumAmount">Premium Amount</label>
							<input class = "form-control" type = "text" th:field = "*{premiumAmount}" id = "premiumAmount" placeholder = "Add Premium Amount">
							<div th:if = "${#fields.hasErrors('premiumAmount')}" th:errors = "*{premiumAmount}"></div>
						</div>
						
						
						
						<input type = "submit" class = "btn btn-primary mb-3" value = "User Account">
						<a th:href = "@{/getVehicles}" class = "btn btn-primary btn-md mb-3 float-right">Vehicle List</a>
					</form>
					
				</div>
			</div>
		</div>
	</div>
</div>

<div th:replace="fragments::pageFooter"></div>
</body>
</html>