<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="pageHeader">
<meta charset="ISO-8859-1">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Vehicle Insurance Management System</title>
<!--Bootstrap CSS-->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
 <!--Bootstrap JS-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js">	</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>

<style>
.footer {
	background-color: black;
	text-align: justify;
	padding: 10px;
}
</style>
</head>
<body>
<div th:fragment="menu">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-dark">
			

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
					<a class="nav-link text-light" th:href="@{/}">Home<span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link text-light" th:href="@{/user/userAccount}">Account</a>
					<li class="nav-item"><a class="nav-link text-light" th:href="@{/getUsers}">User List</a>
					</li>
				
				<li class="nav-item">
					<div class="dropdown">
						<button class="btn btn-dark dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Vehicle</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" th:href="@{/vehicleForm}">Add Vehicle</a>
							<a class="dropdown-item" th:href="@{/getVehicles}">Vehicle List</a>
						</div>
					</div>
				</li>
				
				<li class="nav-item">
					<div class="dropdown">
						<button class="btn btn-dark dropdown-toggle" type="button"
							id="dropdownMenuButton" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">Insurance</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" th:href="@{/insuranceForm}">Add Insurance</a>
							<a class="dropdown-item" th:href="@{/getInsurances}">Insurance List</a>
						</div>
					</div>
				</li>
				</ul>
					 <ul class="nav navbar-nav navbar-right">
				      <li sec:authorize="!isAuthenticated()">
				      <a class="nav-link text-light" th:href="@{/registration}"><span class="glyphicon glyphicon-user">Sign Up</span></a>
				      </li>
				    <li sec:authorize="!isAuthenticated()" class="nav-item">
				            <a class="btn nav-link text-light" th:href="@{/login}"><span class="glyphicon glyphicon-log-in">Login</span></a>
				        </li>
				        <li sec:authorize="isAuthenticated()" class="nav-item dropdown">
				            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
				               aria-haspopup="true" aria-expanded="false" sec:authentication="name">
				            </a>
				            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				                <a class="pl-3 btn btn-info" th:href="@{/profile}">Profile</a>
				                <div class="dropdown-divider"></div>
				                <a class="pl-3 btn btn-warning" th:href="@{/logout}">Logout</a>
				            </div>
				        </li>
				    </ul>

				
			</div>
		</nav>

	</header>
</div>
<div th:fragment="pageFooter">
	<footer class="footer">
		<div class="container">
			<span class="text-warning text-upercase"><marquee style = "font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Vehicle Insurance Management System.</marquee></span>
		</div>
	</footer>
</div>
</body>
</html>