<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert = "fragments::pageHeader">
<meta charset="ISO-8859-1">

        <title>Customer Details</title>

</head>

<body>

<div th:replace="fragments::menu"> </div>
	
    <div>
        <div class="card">
            <div class="card-body">
                <div th:switch="${customers}">
                    <p class="my-5">
                        <a href="/registration" class="btn btn-primary"><i class="fas fa-user-plus ml-2">  Add Customer </i></a>
                    </p>
                    <div class="col-md-12">
                     <div class="alert alert-warning" th:if="${successMessage}"></div>
                        <h2 th:case="null">No Customer yet!</h2>
                        <div th:case="*">
                        <h2 class = "text-center text-success"><u>List Of All Customers</u></h2>
                            <table class="table table-striped table-responsive-md table-bordered">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Email</th>
                                        <th>Contact Number</th>
                                        <th>Gender</th>
                                        <th>Date Of Birth</th>
                                        <th>Address</th>
                                        <th>Nationality</th>
                                        <th>Licence Number</th>
                                        
                                        <th colspan="2">Actions</th>
                                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="customer : ${customers}">  <!-- 1 -->
                                        <td th:text="${customer.firstName}"></td>
                                        <td th:text="${customer.lastName}"></td>
                                        <td th:text="${customer.email}"></td>
                                        <td th:text="${customer.contactNumber}"></td>
                                        <td th:text="${customer.gender}"></td>
                                        <td th:text="${customer.dateOfBirth}"></td>
                                        <td th:text="${customer.address}"></td>
                                        <td th:text="${customer.nationality}"></td>
                                        <td th:text="${customer.licenceNumber}"></td>
                                        <td><a th:href="@{/customers/editCust/{id}(id=${customer.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2">Edit</i></a></td> 
                                        <td><a th:href="@{/customers/deleteCust/{id}(id=${customer.id})}" class="btn btn-primary"><i class="fas fa-user-times ml-2">Delete</i></a></td> 
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

<div th:replace="fragments::pageFooter"></div>
</body>

</html>